/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}


body {
color: #2f3640;
font-family: 'Rubik', sans-serif;
font-size: 16px;
margin: 0;
line-height: 1.7;
}

.container {
max-width: 1700px;
padding: 40px 20px;
margin: 0 auto
}

.btn {
text-decoration: none;
padding: 10px 20px;
background-color: #0be881;
color: white;
font-family: 'Rubik', sans-serif;
cursor: pointer;
border: 2px #05c46b solid;
border-radius: 15px;
transition: all 1s;
}

.section-title {
font-size: 40px;
font-family: cursive;
margin: 30px auto;
text-align: center;
}


/* Splash */


.splash {
background-image: url('https://i.postimg.cc/1zypW99b/zorza-polarna.jpg');
background-size: cover;
background-attachment: fixed;
color: white;
height: 100vh;
position: relative;
font-size: 20px;
}

.splash ul li {
display: inline-block;
}

.splash .container {
display: flex;
}

.splash .container a {
flex: 1 0 0;
color: white;
text-decoration: none;
}

.splash .container ul {
flex: 6 0 0;
margin-top: 0;
}

.splash .menu {
text-align: right;
word-spacing: 50px;
font-family: monospace;
padding-top: 20px;
}

.splash .container > a {
font-size : 45px;
font-family: cursive;
padding-top: 0;
}

.splash .point { 
color: #10ac84;
} 

.splash ul li ul {
display: none;
transform: translateX(-50%);
margin: 0 auto;
}

.splash .splash-container {
position: absolute;
text-align: center;
right: 50%;
bottom: 30%;
transform: translateX(50%);
width: 80vw;
}

.splash .splash-title {
font-size: 60px;
margin-bottom: 0px;
}

.splash .splash-paragraph {
margin-top: 0px;
margin-bottom: 60px;
}

.splash .btn-one {
margin-top: 20px;
border: white 3px solid;
background: none;
}

.splash li:hover ul {
display: block;
position: absolute;
text-align: center;
margin: auto;
}

.splash li ul li {
display: block;
border: 2px solid #05c46b;
background-color: black;
padding: 5px 10px;
}

.splash li ul li:hover {
background-color: #05c46b;
color: black;
}

.splash .btn-one:hover {
background-color: white;
color:  #05c46b
}


/* About  */


.about p {
text-align: center;
}

.about .excercises {
display: flex;
text-align: center;
}

.about .about-us {
flex: 1;
margin: 20px auto;
padding: 10px;
}

.about .btn-two {
margin: 0 auto;
width: 8rem;
}

.about .about-icon {
background: #dfe6e9;
font-size: 40px;
color: grey;
width: 100px;
height: 100px;
margin: 0 auto;
border-radius: 100%;
line-height: -50px;
}

.about .about-icon-special {
background: #05c46b;
font-size: 40px;
color: white;
width: 100px;
height: 100px;
margin: 0 auto;
border-radius: 100%;
}

.about .about-us i {
padding-top: 29px;
}

.about .btn-two a:hover {
color: #05c46b;
background-color: black;
}


/* Cameras */




.cameras .camera-one {
display: flex;
background-color: #ecf0f1;
padding-top: 50px;
}

.cameras .camera-two {
display: flex;
background-color: #ecf0f1;
padding-bottom: 30px;
}

.cameras .camera-image {
flex: 1; 
padding: 30px;
}

.cameras .camera-description {
flex: 1;
text-align: left;
margin: 5px 30px;
}

.cameras .camera-image img {
width: 100%;
height: 100%;
}

.cameras .section-title {
text-align: left;
}

.cameras .camera-description p {
padding: 40px 0 80px 0;
}

.cameras a:hover {
color: grey;
background-color: #fed330;
}

/* Portfolio */


.portfolio {
    background-image: url(https://i.postimg.cc/KjkL3SzF/notebook-g9d46f92a6-1920.jpg);
    color: white;
}

.portfolio img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover
}

.portfolio .portfolio-describe {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 200px 0;
}

.portfolio .portfolio-alecto {
    color:#05c46b;
}



/* Our Services */


.our-services {
    color:blue;
}























